{% extends "curso/base.html" %}

{% block content %}
<h2>Cursos</h2>

<section>
    {% for curso in cursos %}
    <article>
        {% if curso.imagem %}
        <img src="{{ curso.imagem.url }}" 
         alt="{{ curso.nome }}" 
         style="max-width: 100%; max-height: 100%; width: auto; height: auto; object-fit: contain;">
        {% endif %}

        <header>
            <p>Professor: {{ curso.professor.nome }}</p>
        </header>

        <section>
            <h4>Alunos</h4>
            <ul>
                {% for aluno in curso.alunos.all %}
                    <li>{{ aluno.nome }}</li>
                {% empty %}
                    <li>Sem alunos inscritos</li>
                {% endfor %}
            </ul>
        </section>
    </article>
    {% endfor %}
</section>
{% endblock %}