{% extends "curso/base.html" %}

{% block content %}
<h2>Professores</h2>

<section>
    {% for professor in professores %}
    <article>
        <header>
            <h3>{{ professor.nome }}</h3>
        </header>
        
        <section>
            <h4>Cursos</h4>
            <ul>
                {% for curso in professor.cursos.all %}
                    <li>{{ curso.nome }}</li>
                {% empty %}
                    <li>Sem cursos atribuídos</li>
                {% endfor %}
            </ul>
        </section>
    </article>
    {% endfor %}
</section>
{% endblock %}